body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

#header{
    background-color: blue;
    min-height: 10vh;
    min-width: 100vw;
    
}

#content{
    display: flex;
    background-color: red;
    min-height: 90vh;
}

#sidebar{
    background-color: yellow;
    min-width: 20vw;
}

#display{
    background-color: green;
    min-width: 80vw;
}

#todopopup{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #F699AB;
    padding: 20px;
    border: 4px solid gray;
}

#projectpopup{
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #F699AB;
    padding: 20px;
    border: 4px solid gray;
}

ul{
    justify-content: space-around;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    list-style: none;
}

.projectsList{
    
}